In [279]:
path = r'./input/CHI_process_2023.csv'

import pandas as pd


def count_freq(str_list):
    # 2. 统一将字符串转换为小写，使用字典来统计词频
    word_freq = {}
    for word in str_list:
        word = word.lower()  # 统一转换为小写
        word_freq[word] = word_freq.get(word, 0) + 1

    # 3. 将字典按照词频从高到低排序
    sorted_word_freq = sorted(word_freq.items(), key=lambda x: x[1], reverse=True)

    # 4. 将排序后的结果存储在DataFrame中
    df = pd.DataFrame(sorted_word_freq, columns=['Word', 'Frequency'])

    return df


def split_words_with_spaces(input_list):
    result_list = []
    for item in input_list:
        words = item.split()  # 使用split()方法按空格拆分单词
        result_list.extend(words)  # 将拆分后的单词添加到结果列表中
    return result_list

In [280]:
import ast


# out_path = r'./output/keywords_2023_spilt.xlsx'
# output_path = r'./output/CHI_process_2016.csv'

file_2016 = pd.read_csv(path)
keywords_list_2016 = []
keywords_list_2016_spilt = []
for i in range(len(file_2016)):
    temp = file_2016.loc[i, 'keywords']
    if pd.isna(temp):
        continue
    try:
        original_list = ast.literal_eval(temp)
        keywords_list_2016 += original_list
        keywords_list_2016_spilt += split_words_with_spaces(original_list)
    except:
        print('Error')

In [281]:
keywords_2016 = count_freq(keywords_list_2016)
keywords_2016

                                         Word  Frequency
0                  human-computer interaction         93
1                             virtual reality         46
2                                  user study         27
3                             user experience         22
4                     artificial intelligence         20
...                                       ...        ...
3933  ai-supported decision-making interfaces          1
3934            ethical and privacy standards          1
3935                         food preparation          1
3936                     precision techniques          1
3937                       cultural knowledge          1

[3938 rows x 2 columns]

In [282]:
keywords_2016_spilt = count_freq(keywords_list_2016_spilt)
keywords_2016_spilt

              Word  Frequency
0           design        198
1      interaction        187
2             user        123
3          reality        104
4             data        100
...            ...        ...
3146  self-control          1
3147      affinity          1
3148   diagramming          1
3149     caretaker          1
3150  ai-supported          1

[3151 rows x 2 columns]

In [283]:
# keywords_2016_spilt.to_excel(out_path, index=False)

In [284]:
a = keywords_2016_spilt[keywords_2016_spilt['Word'].str.contains('design')]
print(a['Frequency'].sum())
a

225

                              Word  Frequency
0                           design        198
119                      co-design         14
422                      designers          5
488                      designing          4
1015       research-through-design          2
1497                       designs          1
2772  technology-and-policy-design          1

In [285]:
a = keywords_2016_spilt[keywords_2016_spilt['Word'].str.contains('user')]
print(a['Frequency'].sum())
a

162

                   Word  Frequency
2                  user        123
116               users         14
346       user-centered          6
539            end-user          3
687         user-driven          3
760           end-users          2
1183       user-centred          2
1308     user-annotated          1
1350       user-engaged          1
1754          multiuser          1
2050         user-drawn          1
2065     user-perceived          1
2306             users’          1
2314  user-configurable          1
2404     user-observing          1
2984     user-generated          1

In [286]:
a = keywords_2016_spilt[keywords_2016_spilt['Word'].str.contains('reality')]
print(a['Frequency'].sum())
a

108

               Word  Frequency
3           reality        104
619   mixed-reality          3
2607  cross-reality          1

In [287]:
a = keywords_2016_spilt[keywords_2016_spilt['Word'].str.contains('data|computation')]
print(a['Frequency'].sum())
a

143

                       Word  Frequency
4                      data        100
58            computational         23
660                metadata          3
678             data-driven          3
830                datasets          2
930                 dataset          2
1064            computation          2
1465           datafication          1
1603        data-generating          1
1991  data-physicalizations          1
2551               bio-data          1
2580    caring-through-data          1
2695          data-oriented          1
2995               database          1
3035            data-fusion          1

In [288]:
a = keywords_2016_spilt[keywords_2016_spilt['Word'].str.contains('social')]
print(a['Frequency'].sum())
a

93

                  Word  Frequency
6               social         86
907          prosocial          2
1930      social-media          1
1971      psychosocial          1
2531  social-emotional          1
2738         sociality          1
3054        parasocial          1

In [289]:
a = keywords_2016_spilt[keywords_2016_spilt['Word'].str.contains('tech|modal')]
print(a['Frequency'].sum())
a

170

                              Word  Frequency
10                      technology         62
26                    technologies         36
80                      techniques         18
144                     multimodal         11
347                      technique          6
367                 sociotechnical          5
448                      technical          4
467                  technological          4
725                socio-technical          3
866                           tech          2
1169                   cross-modal          2
1179                      modality          2
1181                    modalities          2
1703               technologically          1
1752           technology-mediated          1
1813                 multimodality          1
1972            thanato-technology          1
2072        technology-facilitated          1
2073          technology-connected          1
2113              technology-based          1
2207            technology-enabled          1
2358               technology-rich          1
2641                    crossmodal          1
2772  technology-and-policy-design          1
2777                  technocratic          1
2806                non-tech-savvy          1

In [290]:
a = keywords_2016_spilt[keywords_2016_spilt['Word'].str.contains('system|tool')]
print(a['Frequency'].sum())
a

181

            Word  Frequency
12       systems         58
18        system         47
23         tools         39
56          tool         24
458      toolkit          4
668    ecosystem          3
769   systematic          2
1538    systemic          1
1906       stool          1
2093  ecosystems          1
2557    toolkits          1

In [291]:
a = keywords_2016_spilt[keywords_2016_spilt['Word'].str.contains('digital')]
print(a['Frequency'].sum())
a

60

                Word  Frequency
13           digital         58
2097  digitalization          1
3131     bio-digital          1

In [292]:
a = keywords_2016_spilt[keywords_2016_spilt['Word'].str.contains('artificial')]
print(a['Frequency'].sum())
a

31

              Word  Frequency
39      artificial         29
1122  artificially          2

In [293]:
a = keywords_2016_spilt[keywords_2016_spilt['Word'].str.contains('ai')]
print(a['Frequency'].sum())
a

228

                  Word  Frequency
14                  ai         49
77            human-ai         18
87            training         17
204        sustainable          9
263           fairness          7
...                ...        ...
3025  blockchain-based          1
3038            kawaii          1
3041       kawaii-ness          1
3085           malaise          1
3150      ai-supported          1

[80 rows x 2 columns]

In [294]:
a = keywords_2016_spilt[keywords_2016_spilt['Word'].str.contains('communi')]
print(a['Frequency'].sum())
a

88

                    Word  Frequency
16         communication         49
75             community         19
99           communities         16
989      community-based          2
1602      communications          1
1859  community-building          1

In [295]:
a = keywords_2016_spilt[keywords_2016_spilt['Word'].str.contains('online')]
print(a['Frequency'].sum())
a

48

      Word  Frequency
17  online         48

In [296]:
a = keywords_2016_spilt[keywords_2016_spilt['Word'].str.contains('visuali')]
print(a['Frequency'].sum())
a

58

                Word  Frequency
21     visualization         41
148   visualizations         11
504    visualisation          4
1271     visualizing          1
2071  visualisations          1

In [297]:
a = keywords_2016_spilt[keywords_2016_spilt['Word'].str.contains('privacy|secur')]
print(a['Frequency'].sum())
a

61

                    Word  Frequency
25               privacy         37
142             security         12
379        cybersecurity          5
635   privacy-preserving          3
1287          insecurity          1
1450  privacy-protection          1
1802  security-enhancing          1
2871              secure          1

In [298]:
a = keywords_2016_spilt[keywords_2016_spilt['Word'].str.contains('health')]
print(a['Frequency'].sum())
a

45

                Word  Frequency
28            health         36
214       healthcare          8
1838  health-related          1

In [299]:
a = keywords_2016_spilt[keywords_2016_spilt['Word'].str.contains('access')]
print(a['Frequency'].sum())
a

41

               Word  Frequency
52    accessibility         26
241          access          8
520      accessible          4
856    inaccessible          2
2112      accessing          1

In [300]:
a = keywords_2016_spilt[keywords_2016_spilt['Word'].str.contains('aging')]
print(a['Frequency'].sum())
a

11

           Word  Frequency
655     imaging          3
721   messaging          3
885       aging          2
1032   engaging          2
2275   damaging          1

In [301]:
a = keywords_2016_spilt[keywords_2016_spilt['Word'].str.contains('device')]
print(a['Frequency'].sum())
a

25

                 Word  Frequency
103           devices         15
383            device          5
700      cross-device          3
1958     multi-device          1
2104  device-relative          1

In [302]:
a = keywords_2016_spilt[keywords_2016_spilt['Word'].str.contains('game|play') & ~keywords_2016_spilt['Word'].str.contains('dis')]
print(a['Frequency'].sum())
a

49

                   Word  Frequency
106               games         15
140                game         12
331              player          6
918         multiplayer          2
1105               play          2
1411            players          1
1550           player's          1
1626         play-dough          1
1632             gamers          1
1827          role-play          1
1919  record-and-replay          1
2204         non-gamers          1
2331          exergames          1
2477          interplay          1
2867       role-playing          1
2900       play-to-earn          1
2901       crypto-games          1

In [303]:
a = keywords_2016_spilt[keywords_2016_spilt['Word'].str.contains('learn|educa|famil')]
print(a['Frequency'].sum())
a

104

                           Word  Frequency
9                      learning         69
120                   education         14
277                 educational          7
732                   educators          3
965               deep-learning          2
1343                   families          1
1553                 unfamiliar          1
1683  supervised-learning-based          1
2077            familiarization          1
2118                     family          1
2524           machine-learning          1
2609            machine-learned          1
2904                 educators'          1
3073           novel/unfamiliar          1